<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dean.apihomemarketplace">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/houseicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APIHomeMarketPlace"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.ListDetailActivity"></activity>
        <activity android:name=".listActivity.JawaActivity" />
        <activity android:name=".listActivity.KalimantanActivity" />
        <activity android:name=".listActivity.BekasiActivity" />
        <activity android:name=".listActivity.DepokActivity" />
        <activity android:name=".listActivity.SumatraActivity" />
        <activity android:name=".listActivity.BogorActivity" />
        <activity android:name=".listActivity.TanggerangActivity" />
        <activity android:name=".listActivity.JakartaActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.AuthenticationHpActivity" />
        <activity android:name=".activity.WelcomeActivity" />
        <activity android:name=".activity.SeeAllTerkiniActivity" />
        <activity android:name=".activity.SeeAllPopularActivity" />
        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DetailActivity" />
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.SignInActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" />
    </application>

</manifest>